body
{
    background: #000000;
    color: #999;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

nav {
    padding: 10px 10px;
    text-align: center;
}
ul {
    display: flex;
    justify-content: space-between;
}
nav > ul {
    margin: 0;
    padding: 0;
}
nav > ul > li {
    display: flex;
}
nav > ul > li > i {
    display: inline-block;
    margin: 1px 10px 0px;
}
nav > ul > li > a {
    color: #fff;
    font-size: 13px;
}

#home,
#home .fp-slide,
#home .fp-tableCell,
#about,
#about .fp-slide,
#about .fp-tableCell,
#contact,
#contact .fp-slide,
#contact .fp-tableCell,
footer,
footer .fp-slide,
footer .fp-tableCell
{
    height: auto !important;
}
h1,h2,h3,h4,h5
{
    color: #ffffff;
    font-weight: bold;
}
#about, #contact
{
    padding-top: 10%;
    padding-bottom: 120px;
}

#home
{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.9)), url('../images/main-logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 260px;
    padding-bottom: 10%;
    text-align: center;
}
#home h1
{
    border: 2px solid #D43F52;
    color: #D43F52;
    display: inline-block;
    letter-spacing: 6px;
    padding: 25px 35px;
    margin: 30px 0;
}
#home h2
{
    padding-bottom: 10px;
}
#home .btn
{
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    height: 60px;
    margin-top: 40px;
    padding-top: 18px;
    transition: all 0.4s ease-in-out;
}
#home .btn:hover
{
    background: #D43F52;
    border-color: transparent;
}
#about
{
    background: #1a1a1a;
}
#about h2
{
    text-align: center;
}
#about .media
{
    margin-top: 30px;
}
#about .media .fa
{
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #D43F52;
    font-size: 24px;
    margin-right: 24px;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.4s ease-in;
}
#about .media .fa:hover
{
    background: #ffffff;
    cursor: pointer;
}
#about .media .media-heading
{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}

#contact address
{
    padding-bottom: 18px;
}
    
#contact .contact-title
{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #ffffff;
}
#contact .fa
{
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #D43F52;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    margin-right: 20px;
}
footer
{
    border-top: 1px solid #090909;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
footer hr
{
    width: 100px;
}
.col-md-8 {
    padding-top: 18%;
}
#col-md-8 {
    display:none;
}
div#__next-prerender-indicator {
    display: none;
}